/* Site */

::-webkit-selection, ::-moz-selection, ::selection {
  background-color: #CCE2FF;
  color: rgba(0, 0, 0, 0.87);
}

/* Form */

textarea, input {
  ::-webkit-selection, ::-moz-selection, ::selection {
    background-color: rgba(100, 100, 100, 0.4);
    color: rgba(0, 0, 0, 0.87);
  }
}

/* textarea */
textarea {
  margin: 0em;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  padding: 0.78571429em 1em;
  background: #FFFFFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  outline: none;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0em 0em 0em 0em transparent inset;
  box-shadow: 0em 0em 0em 0em transparent inset;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
  font-size: 1em;
  line-height: 1.2857;
  resize: none;
}

/* link */

a {
  color: #4183C4;
  text-decoration: none;

  :hover {
    color: #1e64bf
  }
}

body {
  margin: 0;
  background-image: url("https://i.imgur.com/HJ8TSew.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;

    :window-inactive {
      background: rgba(0, 0, 0, 0.15);
    }

    :hover {
      background: rgba(128, 135, 139, 0.8);
    }
  }
}

.artist-name, code {
  background-color: gainsboro;
}

header {
  background-color: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(4px) !important;
  margin-bottom: 1rem;
  top: 0
}
